################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DialogReturnsToParentExample/.vs/DialogReturnsToParentExample
/DialogReturnsToParentExample/DialogReturnsToParentExample/DialogReturnsToParentExample/bin/Debug/netcoreapp2.1
/DialogReturnsToParentExample/DialogReturnsToParentExample/DialogReturnsToParentExample/obj
/DialogReturnsToParentExample/DialogReturnsToParentExample/DialogReturnsToParentExample.Tests/bin/Debug/netcoreapp2.1
/DialogReturnsToParentExample/DialogReturnsToParentExample/DialogReturnsToParentExample.Tests/obj
